*.class
out/
*.pyc
.metadata/
# mac os x temp files
.DS_Store

# arduino build files
build-*
surface_src/java_src/Alice/src/com/roboclub/robobuggy/main/config.java

# avr makefile build files
*.eep
*.elf
*.hex
*.lss
*.lst
*.map
*.o
*.sym
*~
.dep

#Files generated at compilation
real_time/arduino_src/radio_buggy_mega/fingerprint.h
#rbsm headers
real_time/arduino_src/lib_avr/rbserialmessages/rbsm_config.h

#eclipse's nonsense
real_time/surface_src/java_src/.recommenders/
real_time/surface_src/java_src/Alice/.classpath

# intellij's nonsense
*.eml
setuptools-19.4.zip
real_time/surface_src/java_src/.idea
real_time/surface_src/java_src/logs
real_time/surface_src/opencv/
cwthbntv.nci.txt
*.iml
real_time/surface_src/java_src/Alice/test.mp4
t30euete.f4z.txt
bytes from arduino.txt
other.txt
real_time/surface_src/java_src/Alice/.idea
real_time/surface_src/java_src/Alice/library/protobuf-3.0.0
