**/*.swp
**/*~
.gradle
**/build/
**/bin/
**/.classpath
**/.settings
**/.project
*.log
*.txt
*.config
*~
*.mp4
/real_time/surface_src/java_src/Alice/logs
/real_time/surface_src/java_src/Alice/LOG_FILES
